.row
  .col-sm-12
    %h2 
      Users
    %table.table
      %thead
        %tr
          %th Name
          %th Identities
          %th Follows
          %th Complete Follows
      %tbody
        - User.all.each do |user|
          %tr
            %td= user.name
            %td= user.identities.count
            %td= user.follows.count
            %td= user.complete_follows.count