%nav.top-bar
  %ul.title-area
    %li.name
      %h1
        = link_to "MADi"
    %li.toggle-topbar.menu-icon
      = link_to content_tag(:span, "Menu"), "#"
  %section.top-bar-section
    %ul.left
      %li
        = link_to "Support and Contribute", support_path
      %li
        = link_to "Log Out", "/logout"
    // - if current_user
    //  %ul.right

