%p
  Thanks for connecting on MADi!
  %br
  %br
  MADi will become the primary site to discover upcoming entrepreneurial and startup events in Madison. This is largely a community-based endeavor, and we appreciate any
  = link_to "support or contributions" support_path
  to its development.
  %br
  %br
  Thanks!
  The MADi Team
