.row.home-bg
  .top-content.col-sm-12
    %h2.subheader Discover Madison Innovation
  .col-sm-7.left-content
    .intro-copy
      %p
        Innovation threads together the future of Madison's businesses, and we all need to connect to that thread. Madison Innovation is a network to help us do it. MADi helps Madison's businesspeople and entrepreneurs find the people, events, and opportunities we need to know about, rapidly and easily.
      %p
        Help build Madison Innovation. Connect your networks now!
      %p
        We'll be in touch,
        %br
        The MADi Team
  .col-sm-5.right-content
    - if current_user
      = form_for current_user do |f|
        = render "shared/social_buttons", f: f
    - else
      = render "shared/social_buttons"
