.columns
  %h1 Project Corgi GO!
%p Find me in app/views/home/index.html.haml
.row
  .small-12.large-6.columns
    %p This is where intro text will go
  .small-12.large-6.columns
    %h3 Get connected
    %p Connect with Twitter
    %p Connect with LinkedIn
    %p Connect with Facebook
    %p Connect with Google+
