.row.main-content
  %ul
    - @events.each do |event|
      %li
        = link_to event.title, event
        - if current_user.registered?(event)
          Attending
          = link_to 'Cancel', cancel_registration_registration_path(event), method: :delete
        - else
          = link_to 'Attend', registrations_path(event_id: event.id), method: :post, class: :button
