- if current_user
  .row
    %h2.date-group.red-banner Your Events
    .group-of-events.clearfix
      - @ranks.each do |rank|
        = render 'event_list', event: rank.event, rank: rank
- else
  .row
    %h2.date-group.red-banner This Week
    .group-of-events.clearfix
      - @events.this_week.order("start_time asc").each do |event|
        = render 'event_list', :event => event
    %h2.date-group.red-banner This Month
    .group-of-events.clearfix
      - @events.this_month.order("start_time asc").each do |event|
        = render 'event_list', :event => event
    %h2.date-group.red-banner Future Events
    .group-of-events.clearfix
      - @events.future.order("start_time asc").each do |event|
        = render 'event_list', :event => event
-# %p.ical_link
-#   = link_to 'iCal', events_path(format: :ics)
-#   = link_to 'webCal', webcal_url(events_url(format: :ics))
