.small-12.large-7.columns
  %h1 Hello
  %p
    Bacon ipsum dolor sit amet kevin venison flank brisket strip steak, tenderloin rump turducken. Brisket bacon jowl prosciutto ham hock drumstick. Tri-tip sirloin strip steak shank pig. Pork belly biltong prosciutto meatloaf pig ham shoulder beef chuck shank pancetta tail kielbasa tri-tip sausage. Beef drumstick venison turkey.
  %p
    Bresaola short ribs beef ribs tail sirloin. Pastrami sausage fatback brisket. Venison bresaola meatloaf pork loin biltong turducken. Kevin capicola meatball pig pastrami strip steak, boudin ham hock swine turducken chuck ball tip spare ribs. Filet mignon meatball biltong swine, t-bone corned beef pig pork chop beef ribs jerky leberkas andouille.

.small-12.large-5.columns
  %h3 New events
  = render 'form'
  = link_to 'Back', events_path
