body.events.index,
body.events.show {
  .top-section {
    padding: 0 15px;
    .new-event-action {
      div {
        display: inline-block;
        float: right;
        a {
          border-radius: 0;
          @include heading-text;
          border-color: $beige;
          background-color: $white;
          text-transform: uppercase;
          &:hover,
          &:active {
            background-color: white;
          }
        }
        &.csv,
        &.cancel-edit {
          margin-right: 10px;
        }
      }
    }
    .event-page-header {
      text-transform: uppercase;
      float: left;
    }
  }
  .section-divider {
    hr {
      border-top: 2px solid $beige;
    }
  }
  h2.date-group {
    margin-left: 15px;
  }
  .an-event,
  .the-event {
    border-top: 10px solid $dark-gray;
    background-color: $light-gray;
    padding: 0 20px;
    @include box-sizing;
    box-shadow: 1px 2px 3px rgb(204,204,204);
    margin: 1em 0;
    @include body-text;
    position: relative;
    .event-description {
      margin-bottom: 5em;
    }
    .event-organization {
      p {
        margin-top: 1em;
      }
    }
    .event-map {
      margin-top: 3.5em;
      border: 2px solid $dark-gray;
      border-radius: 2px;
    }
  }
  .an-event {
    height: 275px;
    .description {
      max-height: 65px;
      overflow: hidden;
    }
  }

  #event-right {
    .event-map {
      margin-top: 3.5em;
      border: 2px solid $dark-gray;
      border-radius: 2px;
    }
  }


  h3 {
    margin-bottom: 0;
    a {
      @include heading-text;
    }
  }
  .actions {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    padding: 10px;
    a {

      div {
        padding: 0 0 0 10px;
        width: auto;
        color: white;
        text-transform: uppercase;
        border-radius: 4px;
        border: 2px solid;
        &.attend {
          background-color: $blue;
          border-color: $blue;
          float: right;
        }
        &.attending {
          background-color: $green;
          border-color: $green;
          float: right;
        }
        &.amp {
          background-color: $light-gray;
          margin-right: 8px;
          border-color: $dark-gray;
          color: $dark-gray;
          float: left;
        }
        span.text {
          vertical-align: middle;
        }
        &:hover,
        &:focus {
          box-shadow: 1px 2px 3px rgba(10,10,10,0.2);
        }
        &:active {
          background-color: #ddd;
        }
      }
      &:hover {
        text-decoration: none;
      }
    }
    .amped {
      padding: 0 0 0 10px;
      width: auto;
      color: white;
      text-transform: uppercase;
      border-radius: 4px;
      border: 2px solid;
      background-color: $dark-gray;
      border-color: $dark-gray;
      margin-right: 8px;
      color: $white;
      float: left;
    }
  }
  .form-group.title {
    margin-top: 0.8em;
    margin-bottom: 0.1em;
    margin-left: -2em;
    input {
      @include heading-text;
      text-transform: uppercase;
      width: 100%;
      background-color: rgba(255,255,255,0.4);
    }
  }
  .form-group {
    &.submit {
      margin: 0;
      float: right;
      input[type="submit"] {
        font-family: $sansfont;
        text-transform: uppercase;
        border-radius: 0;
        font-size: 16px;
      }
    }
  }
}
body.events.show {
  .actions a {
    div {
      padding: 0 10px;
      width: auto;
      color: white;
      text-transform: uppercase;
      &.attending {
        background-color: $green;
      }
      &.amp {
        background-color: $dark-gray;
      }
      &.attend {
        background-color: $blue;
      }
      span.text {
        vertical-align: middle;
      }
    }
  }
}

#event-form {
  h1 {
    font-size: 26px;
    margin-bottom: 1em;
  }
  .input-group {
    div.col-sm-9 {
      padding-right: 0;
      padding-left: 25px;
      input {
        border-radius: 4px 0 0 4px;
      }
    }
    span.input-group-btn {
      vertical-align: bottom;
    }
  }
  .help-text {
    margin-left: 24%;
    span {
      margin-bottom: 25px;
    }
  }
}
