.header.columns
  %h1 Support and Contribute
.small-12.large-7.columns
  .left-content.supporters
    %h4 MADi is brought to you by:
    .s-logo.horizon
      = link_to image_tag("horizon-new.png", title: "Horizon Coworking"), "http://horizoncw.com"
    .s-logo.murfie
      = link_to image_tag("murfie_pink.png", title: "Murfie"), "http://murfie.com"
    .s-logo.madisonium
      = link_to image_tag("madisonium.png", title: "Madisonium"), "http://madisonium.org"
.small-12.large-5.columns.paypal
  %h4 Support MADi
  %p
    = render "paypal_button"
